body {
    background-color: rgb(0, 0, 0);
    color: aliceblue;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    align-items: center;
    text-align: center;

}
#script1 {
    position: sticky;
  left: 15%;
    background: radial-gradient(ellipse at top right, black, purple);
    font-size: 23px;
    width: 890px;
    border-radius: 40px;
    align-items: center;
    text-align: center;
    backdrop-filter: blur(5px);
}
#copy {
    border-radius: 50px;
    width: 130px;
    height: 30px;
    background-color: rgba(178, 96, 255, 0.747);
    backdrop-filter: blur(10px);
    border-style: dotted;
}