body {
    background-color: rgb(73, 73, 73);
    color: aliceblue;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    align-items: center;
    text-align: center;
}
#script1 {
    background-color: rgb(109, 109, 109,0.4);
    font-size: 23px;
    width: 890px;
    border-radius: 40px;
    align-items: center;
    text-align: center;
    backdrop-filter: blur(5px);
}