body {
background: radial-gradient(ellipse at top left, #050d83, black);
    min-height: 200vh;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: aliceblue;
    justify-content: center;  
    align-items: center;    
}

#Hello {
    opacity: 0;
    animation: OpenHello 0.9s ease forwards;
    font-size: 50px;
    color: rgb(255, 255, 255);
    position: relative;

}
#Hello::before {
margin-left: 35%;
 content: 'Who are you?';
 animation: Text 5s forwards;
}

#scripter {
      opacity: 0;
    animation: OpenHello 2s ease forwards;
    font-size: 50px;
    color: rgb(255, 255, 255);
    position: relative;
    left: 35%;
    top: 10%;
}
#check {
    opacity: 0;
    animation: OpenHello 2s ease forwards;
    font-size: 50px;
    color: rgb(255, 255, 255);
    position: relative;
    top: 12%;
    background-color: rgba(240, 248, 255, 0);
    size: 80px;
    height: 30px;
    border-radius: 5px;
    border-style: hidden;
}
#check:active {
    background-color: rgb(0, 131, 7);
}
#check:hover {
    background-color: blue;
}
#Builder {
      left: 35%;
         opacity: 0;
    animation: OpenHello 2s ease forwards;
    font-size: 50px;
    color: rgb(255, 255, 255);
    position: relative;
    top: 18%;
   background-color: rgba(240, 248, 255, 0);
   size: 15px;
   border-radius: 5px;
   border-style: hidden;
}
#check:active {
    background-color: rgb(0, 131, 7);
}
#check:hover {
    background-color: blue;
}
#Animator {
      left: 35%;
         opacity: 0;
    animation: OpenHello 2s ease forwards;
    font-size: 50px;
    color: rgb(255, 255, 255);
    position: relative;
    top: 18%;
   background-color: rgba(240, 248, 255, 0);
   size: 15px;
   border-radius: 5px;
   border-style: hidden;
}
#None {
      left: 35%;
         opacity: 0;
    animation: OpenHello 2s ease forwards;
    font-size: 50px;
    color: rgb(255, 255, 255);
    position: relative;
    top: 18%;
   background-color: rgba(240, 248, 255, 0);
   size: 15px;
   border-radius: 5px;
   border-style: hidden;
}
#ready {
    position: relative;
    left: 40%;
  margin-top: 2%;
    height: 38px;
    height: 30px;
    background-color: blanchedalmond;
    border-radius: 5px;
}

@keyframes OpenHello {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    
    }
}
@keyframes Text {
    0% {
        content: 'Hello!';
        color: aqua;
    }
        50% {
            color: aliceblue;
        content: 'Who are you?';
    }

}
