body {

    background: radial-gradient(ellipse at center, #ffad33, #cf6604);
    min-height: 100vh;
}

#divs {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: oblique;
    position: relative;
    left: 185px;
    display: grid;
    gap: 10px;
    align-items: center;
    top: 40px;
    grid-template-columns: repeat(3, 335px)
}
#place1 {
    border-color: black;
    border-radius: 5px;
    width: 300px;
    height: 200px;
    padding: 10px;
    position: relative;
    top: 67px;
    text-align: center;
    color: white;
    align-items: center;
    background: radial-gradient(ellipse at center, rgb(255, 90, 90), rgb(212, 8, 42));
    box-shadow: 5px 5px 5px 5px rgb(0, 0, 0,0.3);
    transition: transform 0.6s ease-in-out;
  
}
#place1:hover {
    transform: scale(1.1);
}

#place5 {
        border-color: black;
    border-radius: 5px;
    width: 300px;
    height: 200px;
    padding: 10px;
    position: relative;
    top: 120px;
    text-align: center;
    color: white;
    align-items: center;
    background: radial-gradient(ellipse at top right, rgba(76, 0, 255), rgb(52, 230, 221));
    box-shadow: 5px 5px 5px 5px rgb(0, 0, 0,0.3);
}
#place6 {
            border-color: black;
    border-radius: 5px;
    width: 300px;
    height: 200px;
    padding: 10px;
    position: relative;
    top: 120px;
    text-align: center;
    color: white;
    align-items: center;
    background: radial-gradient(ellipse at top right, rgb(245, 83, 91), rgba(230, 52, 52));
    box-shadow: 5px 5px 5px 5px rgb(0, 0, 0,0.3);
}






#place2 {
      background: radial-gradient(ellipse at top right, rgb(0, 255, 115), rgb(85, 108, 238));
    box-shadow: 5px 5px 5px 5px rgb(0, 0, 0,0.3);
    border-color: black;
    border-radius: 5px;
    width: 300px;
    height: 200px;
    padding: 10px;
    position: relative;
    top: 67px;
    text-align: center;
    align-items: center;
        transition: transform 0.6s ease-in-out;
}
#place3 {
    background-color: rgb(189, 219, 245);
    border-color: black;
    border-radius: 5px;
    width: 300px;
    height: 200px;
    padding: 10px;
    position: relative;
    top: 67px;
    text-align: center;
    align-items: center;
       background: radial-gradient(ellipse at top right, rgb(255, 115, 0), rgb(230, 52, 206));
    box-shadow: 5px 5px 5px 5px  rgb(0, 0, 0,0.3);
        transition: transform 0.6s ease-in-out;
}
#place4 {
     background-color: rgb(189, 219, 245);
    border-color: black;
    border-radius: 5px;
    width: 300px;
    height: 200px;
    padding: 10px;
    position: relative;
    top: 120px;
    text-align: center;
    align-items: center;
       background: radial-gradient(ellipse at top right, rgb(255, 115, 0), rgb(230, 52, 206));
    box-shadow: 5px 5px 5px 5px  rgb(0, 0, 0,0.3);
}



#place2:hover {
    transform: scale(1.1);
}
#place3:hover {
    transform: scale(1.1);
}

#backhead {
    background: linear-gradient(to bottom, rgb(255, 81, 0), rgb(245, 209, 7));
    width: 100%;
   border-radius: 60px;
    height: 60px;
    position: fixed;
    
}
#tgk {
    position: fixed;
    size: 70px;
    color: rgb(0, 0, 0);
    left: 40px;
    text-decoration: none;
    font-style: normal;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}
#thetext {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    position: fixed;
    font-size: 40px;
    left: 500px;
}

#dis {
    position: fixed;
    font-size: 20px;
    color: rgb(0, 0, 0);
    left: 40px;
    top: 30px;
    text-decoration: none;
    font-style: normal;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif 
}
#logo {
    width: 50px;
    height: 50px;
    position: fixed;
    left: 440px;
    top: 15px;
    border-radius: 50px;
}
#bbb {
    position: fixed;
    left: 500px;
    top: 35px;
}
#script {
    position: fixed;
    right: 10px;
    font-size: 25px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: black;
}