body {

    background: radial-gradient(ellipse at top left, #000000, #4a0583);
    min-height: 200vh;
}


#divs {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: oblique;
    position: relative;
    left: 12%;
    display: grid;
    gap: 2px;
    align-items: center;
    top: 150px;
    grid-template-columns: repeat(3, 280px);
    background: radial-gradient(ellipse at top right, rgb(60, 1, 116), black);
    border-radius: 60px;
    width: 990px;
    height: 560px;
    align-items: center;
    padding: 25px;

}
#place1 {
        left: 80px;
    border-color: black;
    border-radius: 5px;
    width: 250px;
    height: 180px;
    padding: 10px;
    position: relative;
    top: 67px;
    text-align: center;
    color: white;
    align-items: center;
    background: radial-gradient(ellipse at top left, rgb(92, 43, 104), rgb(0, 0, 0));
    box-shadow: 5px 5px 5px 5px rgb(0, 0, 0,0.3);
    transition: transform 0.6s ease-in-out;
  
}
#place1:hover {
    transform: scale(1.1);
}

#place5 {
        left: 80px;
        border-color: black;
    border-radius: 5px;
   width: 250px;
    height: 180px;
    padding: 10px;
    position: relative;
    top: 5px;
    text-align: center;
    color: white;
    align-items: center;
    background: radial-gradient(ellipse at top right, rgba(76, 0, 255), rgb(52, 230, 221));
    box-shadow: 5px 5px 5px 5px rgb(0, 0, 0,0.3);
}
#place6 {
        left: 80px;
            border-color: black;
    border-radius: 5px;
width: 250px;
    height: 180px;;
    padding: 10px;
    position: relative;
    top: 5px;
    text-align: center;
    color: white;
    align-items: center;
    background: radial-gradient(ellipse at top right, rgb(245, 83, 91), rgba(230, 52, 52));
    box-shadow: 5px 5px 5px 5px rgb(0, 0, 0,0.3);
}






#place2 {
        left: 80px;
      background: radial-gradient(ellipse at top right, rgb(0, 255, 115), rgb(85, 108, 238));
    box-shadow: 5px 5px 5px 5px rgb(0, 0, 0,0.3);
    border-color: black;
    border-radius: 5px;
 width: 250px;
    height: 180px;
    padding: 10px;
    position: relative;
    top: 67px;
    text-align: center;
    align-items: center;
        transition: transform 0.6s ease-in-out;
}


#place3 {
    left: 80px;
    background-color: rgb(189, 219, 245);
    border-color: black;
    border-radius: 5px;
width: 250px;
    height: 180px;
    padding: 10px;
    position: relative;
    top: 67px;
    text-align: center;
    align-items: center;
       background: radial-gradient(ellipse at top right, rgb(255, 115, 0), rgb(230, 52, 206));
    box-shadow: 5px 5px 5px 5px  rgb(0, 0, 0,0.3);
        transition: transform 0.6s ease-in-out;
}
#place4 {
        left: 80px;
     background-color: rgb(189, 219, 245);
    border-color: black;
    border-radius: 5px;
 width: 250px;
    height: 180px;
    padding: 10px;
    position: relative;
     top: 5px;
    text-align: center;
    align-items: center;
       background: radial-gradient(ellipse at top right, rgb(255, 115, 0), rgb(230, 52, 206));
    box-shadow: 5px 5px 5px 5px  rgb(0, 0, 0,0.3);
}



#place2:hover {
    transform: scale(1.1);
}
#place3:hover {
    transform: scale(1.1);
}

#backhead {
    background: linear-gradient(to bottom, rgb(65, 34, 136), rgb(0, 0, 0));
    width: 100%;
   border-radius: 60px;
    height: 60px;
    position: fixed;
    
}
#tgk {
    position: fixed;
    size: 70px;
    color: rgb(255, 255, 255);
    left: 40px;
    text-decoration: none;
    font-style: normal;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}
#thetext {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    position: fixed;
    font-size: 40px;
    left: 14%;
    color: white;
}

#dis {
    position: fixed;
    font-size: 20px;
    color: rgb(255, 255, 255);
    left: 40px;
    top: 30px;
    text-decoration: none;
    font-style: normal;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif 
}
#logo {
    width: 50px;
    height: 50px;
    position: fixed;
    left: 10%;
    top: 3px;
    border-radius: 50px;
}
#bbb {
    position: fixed;
    left: 500px;
    top: 35px;
}

#home {
    transition: transform 0.5s ease;
}
#home:hover {
transform: scale(1.1);
}

#frm {
    transition: transform 0.5s ease;
}
#frm:hover {
transform: scale(1.1);
}
#menu {
    position: fixed;
    top: 5px;
    height: 10vh;
    width: 205vh;
    border-radius: 100px;
    align-items: center;
    text-align: left;
    background-color: #16003886;
    backdrop-filter: blur(10px);
    transition: transform 1s ease;
    animation: sss 2s ease;
}
#menu:hover {
transform: scale(1.03);
 animation: sss 0.4s ease-in;

}
#Home {
font-style: oblique;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(255, 255, 255);
    border-radius: 5px;
    font-size: 21px;
   
    position: fixed;
    right: 34%;
   margin-top: 5px;
}

#script {
    font-style: oblique;

     font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(255, 255, 255);
    border-radius: 5px;
font-size: 21px;
    width: 90px;
    position: fixed;
    right: 19%;
   margin-top: 5px;
}

#script:hover {
    font-style: unset;
    cursor: default;
}

#forum {
    font-style: oblique;

        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(255, 255, 255);
    border-radius: 5px;
    font-size: 21px;
    width: 90px;
    position: fixed;
    right: 27%;
   margin-top: 5px;
}
@keyframes sss {
    from{
    width: 60px
    };
    to{width: 75px};
}